* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: monospace;
}
#bottombox {
    -fx-padding: 5px 0 0 0;
}
#box {
    -fx-font-size: 12px;
    -fx-border-width: 1px;
    -fx-border-color: #aaa;
    -fx-background-color: #eee;
    -fx-padding: 2px 7px 2px 7px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}
#history-box {
    -fx-background-color: #ddd;
    -fx-padding: 2px;
}
#history-scroll {
    -fx-border-color: #aaa;
    -fx-border-width: 1px;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}
#input {
    -fx-font-size: 12px;
    -fx-background-color: #eee;
    -fx-background-radius: 0;
    -fx-border-color: #aaa;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-pref-height: 30px;
}
#close-button {
    -fx-text-fill: #777;
    -fx-font-family: Arial !important;
    -fx-font-size: 20px;
    -fx-padding: 0 0px 0 5px;
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-border-color: blue;
}
#close-button:hover {
    -fx-text-fill: #222;
}
#close-button-box {
    -fx-alignment: center-right;
    -fx-padding: 0 0 2px 0;
}
#resize-container {
    -fx-alignment: center-right;
    -fx-padding: 5px 0 2px 0;
}
#resize {
    -fx-translate-x: 4px;
    -fx-translate-y: 1px;
    -fx-cursor: se-resize;
}