#grid {
    -fx-padding: 15px;
}
#player-info {
    -fx-fill-height: false;
    -fx-alignment: bottom-left;
}
#player-image {
    -fx-border-color: #212121;
    -fx-border-width: 3px;
    -fx-background-color: rgba(200, 200, 200, 0.8);
}
#player-stats {
    -fx-padding: 0 0 0 10px;
}
#player-gold {
    -fx-padding: 5px 5px 5px 10px;
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
#player-gold Label {
    -fx-text-fill: #efcc0e;
    -fx-font-size: 20px;
}
#healthbar, #xpbar {
    -fx-alignment: center-left;
    -fx-padding: 5px 0 0 0;
}
#healthbar-outer, #xpbar-outer {
    -fx-fill: #bbb;
    -fx-stroke: #212121;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
}
#healthbar-inner, #xpbar-inner {
    -fx-fill: #a20c0c;
    -fx-stroke: transparent;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
}
#healthbar Label, #xpbar Label {
    -fx-font-size: 24px;
    -fx-text-fill: #fafafa;
    -fx-padding: 0 0 0 10px;
}
#xpbar-inner {
    -fx-fill: #1e36ec;
}
#xpbar Label {
    -fx-font-size: 18px;
}
#hotbar {
    -fx-fill-height: false;
    -fx-alignment: bottom-center;
    -fx-spacing: 10px;
}
#hotbar VBox {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-background-color: #aaa;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-alignment: center;
}
#hotbar VBox.hotbar-selected {
    -fx-border-color: #fafafa;
}
#ammo {
    -fx-alignment: bottom-right;
}
#ammo Label {
    -fx-font-size: 2.5em;
    -fx-text-fill: #fafafa;
}
#effects {
    -fx-alignment: top-right;
    -fx-spacing: 10px;
}