#parent {
    -fx-fill-height: false;
    -fx-alignment: center;
}
#container {
    -fx-alignment: top-center;
    -fx-spacing: 15px;
}
#title {
    -fx-font-size: 5em;
    -fx-text-fill: #fafafa;
    -fx-padding: 0 0 15px 0;
}
.row {
    -fx-spacing: 15px;
}
.row VBox {
    -fx-pref-width: 75px;
    -fx-pref-height: 75px;
    -fx-background-color: #aaa;
    -fx-border-color: #fafafa;
    -fx-border-width: 2px;
    -fx-alignment: center;
}
#item-info {
    -fx-background-color:  #140413;
    -fx-border-color:  #200248;
    -fx-border-width: 10px;
    -fx-opacity: 0.8;
}
#item-name {
    -fx-text-fill: #fafafa;
    -fx-font-size: 16px;
    -fx-padding: 3px 0 10px 3px;
}
#description Label {
    -fx-text-fill: #5654f1;
    -fx-font-size: 14px;
    -fx-padding: 3px;
}