* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#title {
    -fx-font-size: 5em;
    -fx-padding: 20px;
}
Button {
    -fx-font-size: 3em;
    -fx-padding: 20px 35px 20px 35px;
    -fx-border-width: 1px;
    -fx-border-color: #555;
    -fx-cursor: hand;
}
#container {
    -fx-padding: 50px 25px 100px 25px;
    -fx-spacing: 20px;
}