* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.root {
    -fx-background-color: white;
    -fx-box-border: transparent;
}
.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-font-size: 2em;
    -fx-padding: 10px 15px 10px 15px;
}
.button-active {
    -fx-border-color: #212121;
}
.slider .track {
    -fx-pref-height: 10;
}
.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}
#title-hBox {
    -fx-padding: 10px 10px 10px 20px;
    -fx-spacing: 10px;
    -fx-border-width: 1px 0 1px 0;
    -fx-alignment: center-left;
}
#title {
    -fx-font-size: 4em;
    -fx-padding: 20px;
}
#back-button {
    -fx-background-color: transparent;
    -fx-padding:23px 19px 21px 19px;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
#back-button:hover {
    -fx-background-color: #dadada;
}
#reset-hBox {
    -fx-padding: 15px;
    -fx-spacing: 20px;
}
#reset-button {
    -fx-background-color: transparent;
    -fx-padding: 13px 18px 11px 17px;
    -fx-font-size: 2em;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
#reset-button:hover {
    -fx-background-color: #dadada;
}
#buttons-container {
    -fx-padding: 10px 10px 10px 145px;
    -fx-spacing: 15px;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: #ccc;
    -fx-alignment: center-left;
}
#controls-container {
    -fx-padding: 10px 10px 10px 75px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.controls-subtitle {
    -fx-font-size: 2.4em;
    -fx-padding: 20px 0px 5px 0px;
}
.controls-grid {
    -fx-hgap: 50px;
    -fx-vgap: 6px;
}
.controls-grid Label {
    -fx-font-size: 2em;
}
.controls-grid Button {
    -fx-background-color: #dadada;
    -fx-padding: 18px 15px 16px 15px;
    -fx-pref-width: 300px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #555;
}
.controls-grid Button:hover {
    -fx-text-fill: black;
}
.controls-grid Slider {
    -fx-pref-width: 400;
}
.cancel-button {
    -fx-border-color: transparent;
    -fx-padding: 2px 8px 8px 8px;
    -fx-pref-width: -1;
}
.cancel-button ImageView {
    -fx-opacity: 0.75;
}
.cancel-button:hover ImageView {
    -fx-opacity: 1;
}
#popup {
    -fx-background-color: #fafafa;
    -fx-fill-width: true;
}
#popup-title {
    -fx-font-size: 3em;
    -fx-padding: 15px 25px 15px 25px;
    -fx-background-color: #ccc;
}
#popup-warning {
    -fx-font-size: 2em;
    -fx-padding: 25px 25px 15px 25px;
}
#popup-buttons-container {
    -fx-alignment: center-right;
    -fx-padding: 10px 25px 15px 25px;
}
#popup-buttons-container Button {
    -fx-font-size: 2em;
    -fx-padding: 10px 15px 8px 15px;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
#popup-buttons-container Button:hover {
    -fx-background-color: #dadada;
}
