.root {
    -fx-background-color: white;
}
.button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-font-size: 24px;
    -fx-padding: 10px 15px 10px 15px;
}
.button-active {
    -fx-border-width: 0 0 2px 0;
}
#title {
    -fx-font-size: 48px;
    -fx-padding: 20px 20px 20px 30px;
}
#back-button {
    -fx-background-color: #ED1C24;
    -fx-padding: 20px 20px 20px 20px;
}
#reset-button {
    -fx-background-color: #064E9A;
    -fx-padding: 20px 20px 20px 20px;
}
#buttons-container {
    -fx-padding: 10px 10px 10px 30px;
    -fx-spacing: 15px;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: #ccc;
    -fx-alignment: center-left;
}
#controls-container {
    -fx-font-size: 18px;
    -fx-padding: 10px 10px 10px 75px;
}
.controls-subtitle {
    -fx-font-size: 30px;
    -fx-padding: 20px 0px 5px 0px;
}
.controls-grid {
    -fx-hgap: 50px;
    -fx-vgap: 25px;
}
.key-button {
    -fx-background-color: #EDEDED;
}